/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: #FF9800;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

/* END: GLOBAL */

/* --------------------------------------------------- */

/* WRAPPER */

.wrapper {
  position: relative;
  z-index: 0;
}

/* MAIN-CONTENT */

/* .wrapper-content {
  margin-top: 170px;
} */

.main-content {
  margin-bottom: 40px;
}

ul.breadcrumb {
  margin-top: 200px;
}

/* main-left */
h2:before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  height: 30px;
  z-index: -1;
}

h2.title:before {
  width: 300px;
  left: 45%;
  margin-left: -110px;
}

h2.title:after {
  content: " ";
  position: absolute;
  border: 1px solid #E0E0E0;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -5;
}

.main-left h2.title:before {
  width: 165px;
  margin-left: -70px;
}

.main-left h2.title {
  margin: 0 0 25px;
}

.main-left .promotion-news, .main-left .sport-news, .main-left .advisory, .main-left .recruitment, .main-left .small-slider {
  margin: 0 15px 50px;
}

.main-left .new-content {
  margin-bottom: 25px;
  border-bottom: 1px dotted #9E9E9E;
}

.main-left .new-content:last-child {
  border: none;
}

.main-left .new-content img {
  width: 100%;
}

.sport-news ul, .advisory ul, .recruitment ul {
  padding: 10px;
  border: 1px dotted #BDBDBD;
}

.sport-news ul li, .advisory ul li, .recruitment ul li {
  margin-bottom: 10px;
}

/* LỌC */

/* .sidebar-left */
#loaderpro {
  text-align: center;
  background: url('../images/loader.gif') no-repeat center;
  height: 150px;
}

.sidebar-left h2 {
  color: #FF9800;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.sidebar-left > h2:before, .price-range > h2:before {
  width: 130px;
  left: 50%;
  margin-left: -65px;
}

a.disabled-link {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.sidebar-left .name {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding-bottom: 20px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.sidebar-left .name .nav-stacked li {
  font-size: 14px;
  font-weight: 700;
  padding: 7px 0;
}

.sidebar-left .name .nav-stacked li input {
  margin: 0 10px 0 20px;
}

.sidebar-left .name .nav-stacked li span {
  margin-right: 20px;
}

/* end: .sidebar-left  */

/* ------------------------------- */

/* price-range */
.range {
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  box-shadow: none;
  min-height: 20px;
  padding: 35px;
}

.price-range {
  margin-top: 30px;
}

.slider-track {
  background-color: #BDBDBD !important;
}

.slider-selection {
  background-color: #FF9800 !important;
}

/* end: .price-range  */

/* ------------------------------- */

/* end: main-left; */

/* ------------------------------- */

/* main-right */

/* .newest-product  */

/* hiệu ứng sản phẩm bay vào giỏ hàng */
.img-pro-fly {
  position: absolute;
  z-index: 999999999999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #FF9800;
  transition: all 1s ease;
  animation: myAnimation1 1.5s;
}

@keyframes myAnimation1 {
  0% {
    transform: scale(0.4);
  }

  25% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.4);
  }

}

/* end: hiệu ứng sản phẩm bay vào giỏ hàng */
.newest-product {
  overflow: hidden;
}

h2.title {
  color: #FF9800;
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px 25px;
  text-transform: uppercase;
  position: relative;
}

.product-info {
  position: relative;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 30px;
  overflow: hidden;
}

.product-info h2 {
  color: #FF9800;
  font-size: 24px;
  font-weight: 700;
}

.product-info p {
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

.product-info img {
  width: 100%;
}

.product-info .shortlinks {
  background: #fff;
  position: absolute;
  left: 0;
  top: 56%;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  display: none;
  background-color: #FF9800;
}

.product-info .shortlinks a {
  font-size: 12px;
  padding: 5px 15px;
  color: #212121;
}

.product-info .shortlinks a:hover {
  color: #fff;
}

.add-to-cart {
  background: #E0E0E0;
  border: 0 none;
  border-radius: 0;
  color: #212121;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FF9800;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

/* end: .newest-product   */

/* ------------------------------- */

/* .category-tab */
.category-tab {
  overflow: hidden;
  margin: 25px 0;
}

.category-tab ul.nav {
  background: #424242;
  border-bottom: 1px solid #FF9800;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul.nav a {
  color: #fff;
  border-radius: 0;
  border: 0 none;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab .nav a:hover {
  background-color: #FF9800;
}

.category-tab .nav-tabs li.active a, .category-tab .nav-tabs li.active a:hover, .category-tab .nav-tabs li.active a:focus {
  color: #212121;
  background-color: #FF9800;
  border: 0px;
  cursor: default;
  margin-right: 0;
  margin-left: 0;
}

.category-tab .nav-tabs li a {
  margin-right: 0;
}

.category-tab .tab-content .shortlinks {
  top: 47%;
}

.category-tab .tab-content .shortlinks a {
  font-size: 12px;
  padding: 5px 10px;
  color: #212121;
}

/* end: .category-tab */

/* ------------------------------- */

/* .best-sell-product */
.best-sell-product {
  overflow: hidden;
  height: 70vh;
}

.best-sell-product-control {
  position: absolute;
  top: 30%;
}

.right.best-sell-product-control {
  right: 0;
}

.best-sell-product-control i {
  background: none repeat scroll 0 0 #424242;
  color: #fff;
  font-size: 20px;
  padding: 4px 10px;
}

.best-sell-product-control i:hover {
  background: #FF9800;
}

/* end: .best-sell-product */

/* end: main-right */

/* END: MAIN-CONTENT */

/* END: WRAPPER */

/* --------------------------------------------------- */

/* FOOTER */

/* END: FOOTER */

/* .footer-social  */
footer .footer-account {
  background-color: #EEEEEE;
}

.footer-account h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
  border-bottom: 1px dashed #212121;
  padding: 0 0 5px 0;
}

.footer-account .contact ul {
  padding-left: 5px;
}

.footer-account .contact ul li {
  padding: 0 0 5px 15px;
}

/* .footer-copyright */
.footer-copyright {
  background-color: #424242;
}

.footer-copyright p {
  color: #fff;
}

a#scrollUp {
  position: fixed;
  z-index: 2147483647;
  display: block;
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FF9800;
  color: #fff;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}

/* --------------------------------------------------- */

/* WISHLIST + SHOPPING-CART */
.wishlist h2.title, .shopping-cart h2.title, h2.title.checkout {
  margin: 10px 0 40px !important;
}

.wishlist h2.title:before {
  width: 285px;
  left: 47%;
}

.shopping-cart h2.title:before {
  width: 190px;
  left: 51%;
}

h2.title.checkout:before {
  width: 200px;
  left: 51%;
}

.wishlist-page, .cart-page {
  margin-bottom: 50px;
}

.cart-detail table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-top: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  background-color: #fff;
}

.cart-detail table tr {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.cart-detail table tr:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.cart-detail td, .cart-detail th {
  padding: 15px;
}

.cart-detail th {
  padding: 10px
}

.cart-detail th {
  font-weight: bold;
  background-color: #eeeeee;
  border-bottom: 1px solid #E7E7E7;
}

.cart-detail th.quantity, .cart-detail td.quantity {
  text-align: left;
}

.cart-detail th .price, .cart-detail tbody .price, .cart-detail th .total, .cart-detail tbody .total {
  text-align: right;
}

.cart-detail th .action, .cart-detail tbody .action {
  text-align: center;
}

.cart-detail th .quantity a {
  margin-top: -5px
}

.cart-detail tbody td {
  vertical-align: top;
  border-bottom: 1px solid #E7E7E7;
}

.cart-detail tbody .remove {
  vertical-align: middle;
}

.cart-detail tbody .remove, .cart-detail tbody .image {
  text-align: center;
}

.cart-detail tbody .name, .cart-detail tbody .model {
  text-align: left;
}

.cart-detail tbody span.quantity {
  color: #F00;
  font-weight: bold;
}

.cart-detail a.btn.btn-default, .cart-page input.btn.btn-default {
  background-color: #FF9800;
}

.cart-page input.input1 {
  margin-left: 100px;
  margin-right: 20px;
}

.cart-page table {
  margin-top: 30px;
}

.cart-page table span.total-amount {
  font-size: 22px;
  font-weight: 600;
  color: #FF9800;
}

.cart-page .table2 table tr td {
  width: 50%;
}

.quantity-button a {
  background: #F5F5F5;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}

.quantity-input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 3px 0;
}

/* END: WISHLIST + SHOPPING-CART */

/* --------------------------------------------------- */

/* CHECKOUT */
.checkout-page .your-order, .checkout-page .your-info {
  border: 1px solid #e8e8e8;
  margin-bottom: 50px;
  margin-top: 10px;
}

h5.your-order-head {
  margin-top: 0;
  padding: 0 40px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 24px;
  color: #484747;
  background-color: #f8f8f8;
  line-height: 55px
}

.your-order-body {
  padding: 30px 40px;
}

.your-order-item {
  padding: 10px 0;
  border-bottom: 1px solid #f8f8f8
}

.your-order-item.pbn {
  padding-bottom: 0
}

.your-order-item:last-child {
  padding-bottom: 0;
  border-bottom: 0
}

.your-order-body h5 {
  margin-top: -10px
}

.your-order-info {
  display: block;
  margin-top: -5px;
  margin-bottom: -2px
}

.payment-method {
  padding-left: 0;
}

.payment-method p {
  margin-left: 10px;
}

.payment-method li {
  margin-bottom: 8px;
}

.payment-method li label {
  font-size: 15px;
  color: #000;
}

.payment_box {
  background: #f8f8f8;
  margin-left: 17px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px
}

.your-order-f18 {
  font-size: 18px;
  margin-bottom: 20px
}

.your-info .control-group > textarea {
  width: 45%;
  height: 35vh;
}

.your-info .control-group {
  margin: 0 0 15px 80px;
}

.your-info .control-group.first {
  margin-left: 40px;
}

.checkout-page .your-order-body {
  padding-bottom: 50px;
}

.checkout-page .your-order-body .table2 td {
  width: 50%;
}

.checkout-page .your-order-body .pull-right {
  padding-right: 0;
}

.checkout-page a.checkout {
  background-color: #FF9800;
  color: #fff;
}

/* --------------------------------------------------- */

/* PRODUCT */
.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a {
  border-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a {
  border-radius: 0;
}

.pagination  .active  a, .pagination  .active  a:hover, .pagination  .active  a:focus {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
  cursor: default;
  z-index: 2;
}

.pagination  li  a {
  background-color: #E0E0E0;
  border: 0;
  float: left;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}

.pagination  li  a:hover {
  background: #FF9800;
  color: #fff;
}

/* END: PRODUCT */

/* --------------------------------------------------- */

/* PRODUCT-DETAILS */

/* .product-details */

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

/* .product-details #gál {
  margin-top: 15px;
}

.product-details #gál a:focus {
  color: #fff;
}

.product-details #gál img {
  width: 20% !important;
  height: 20% !important;
  margin-right: 10px;
}
 */

/* Css for Zoom Image: fix lỗi hiệu ứng ko chạy */

.zoomContainer {
  z-index: 9999 !important;
}

.zoomWindow {
  z-index: 9999 !important;
}

/* .product-information {
  border: 1px solid #E0E0E0;
  overflow: hidden;
  padding: 0 30px 30px 30px;
  position: relative;
}

.product-information h3 {
  margin: 15px 0 10px;
}

.product-price, .product-select {
  margin-bottom: 15px;
}

.product-price .old-price {
  margin-bottom: 5px;
}

.product-select select:first-child {
  margin-right: 20px;
}

.product-action a {
  margin-bottom: 15px;
  background-color: #E0E0E0;
}

.product-action a:focus, .product-action a:hover {
  background-color: #FF9800;
  color: #fff;
} */

/* end: .product-details */

/* ------------------------------- */

/* .product-details-tab */
.product-details-tab {
  border: 1px solid #E0E0E0;
  margin: 0 15px 40px;
  padding-bottom: 25px;
}

/* #specification */
#specification ul.product-details-info {
  margin: 0px;
  padding: 0px;
  list-style: none
}

ul.product-details-info li {
  padding: 5px 0;
  list-style: none;
  display: block
}

ul.product-details-info li span {
  width: 160px;
  float: left;
  font-weight: bold
}

/* #review */
#reviews ul {
  background: #fff;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews  ul  li {
  display: inline-block;
}

#reviews ul li a {
  color: #212121;
  display: block;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i {
  color: #FF9800;
  padding-right: 8px;
}

#reviews ul li a:hover {
  background: #fff;
  color: #FF9800;
}

#reviews p {
  color: #212121;
}

#reviews  form span {
  display: block;
}

#reviews form span input {
  background: #F5F5F5;
  border: 0 none;
  color: #212121;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}

#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #F5F5F5;
  border: medium none;
  color: #212121;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #FF9800;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
}

/* end: .product-details-tab */

/* ------------------------------- */

/* END: PRODUCT-DETAILS */

/* --------------------------------------------------- */

/* NEWS + NEW-DETAILS */
.news-page h2.title:before {
  width: 138px;
  left: 55%;
}

.news-list {
  margin: 0 15px;
}

.news-list .news-item {
  padding-bottom: 40px;
  border-bottom: 1px dotted #9E9E9E;
}

.news-item .news-image {
  float: left;
  margin-right: 25px;
}

.news-item .news-image img {
  height: 125px;
}

.news-item h3 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.news-item h3 a {
  color: #212121 !important;
}

.news-list .news-item > a {
  background-color: #FF9800 !important;
  color: #fff;
}

.news-date {
  color: #757575;
  margin-bottom: 5px;
  font-size: 12px;
}

.short-news-content {
  color: #212121;
  margin-bottom: 10px;
}

.other-news {
  margin: 0 15px 25px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #9E9E9E;
}

.other-news h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
}

.other-news li a {
  color: #212121;
  margin: 0 5px;
}

.new-details-page {
  margin: 0 15px 0 30px;
}

.main-news {
  margin-bottom: 40px;
}

.new-details-page h1 {
  margin-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
  font-weight: 700;
}

.new-details-page .news-content .news-image {
  text-align: center;
  margin-bottom: 20px;
}

.news-content .news-image p {
  font-size: 12px;
}

.new-details-page .news-content img {
  width: 600px;
  height: 400px;
  padding-bottom: 7px;
}

.new-details-page .short-news-content {
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 10px;
}

.new-details-page .other-news {
  border-bottom: none;
  margin: 0;
  padding-top: 10px;
  border-top: 1px dotted #BDBDBD;
}

/* END: NEWS + NEW-DETAILS */

/* --------------------------------------------------- */

/* SALE */
.sale-page h2.title:before {
  width: 170px;
  left: 53%;
}

/* END: SALE */

/* --------------------------------------------------- */

/* VIDEO */
.video-page h2.title:before {
  width: 168px;
  left: 53%;
}

.video-list {
  margin: 0 15px 25px;
  border-bottom: 1px dotted #BDBDBD;
}

.video-list .video {
  margin-bottom: 40px;
}

.video-list h3 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

/* END: VIDEO */

/* --------------------------------------------------- */

/* BLOG */
.blog-page .pagination {
  margin-top: 25px;
}

/* END: BLOG */

/* --------------------------------------------------- */
