/* .footer-social  */
footer .footer-account {
	background-color: #EEEEEE;
}

.footer-account h2 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #212121;
	text-transform: uppercase;
	border-bottom: 1px dashed #212121;
	padding: 0 0 5px 0;
}

.footer-account .contact ul {
	padding-left: 5px;
}

.footer-account .contact ul li {
	padding: 0 0 5px 15px;
}

/* .footer-copyright */
.footer-copyright {
	background-color: #424242;
}

.footer-copyright p {
	color: #fff;
}
