/* product-category */
.sidebar-left h2, .product-brand h2 {
  color: #FF9800;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.sidebar-left > h2:before, .price-range > h2:before {
  width: 130px;
  left: 50%;
  margin-left: -65px;
}

.product-brand > h2:before {
  width: 180px;
  left: 40%;
  margin-left: -65px;
}

.product-category {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  border-radius: 4px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.product-category .panel {
  background-color: #F5F5F5;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}

.panel .panel-heading {
  background-color: #F5F5F5;
  padding: 5px 20px;
}

.panel .panel-heading:hover {
  background-color: #fff;
}

.panel .panel-heading:hover a, .panel .panel-heading:hover i {
  color: #FF9800;
}

.panel-heading .panel-title a {
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
  border-top: none;
}

.panel-body {
  padding: 10px;
}

.panel-body ul {
  padding: 0 20px;
}

.panel-body ul li {
  padding-top: 8px;
}

.panel-body ul li a {
  color: #212121;
  font-size: 12px;
  font-weight: 500;
  padding-top: 8px;
  text-transform: uppercase;
}

.panel-body ul li a:hover {
  color: #FF9800;
}

.product-category .plus-icon {
  background: none;
  color: #212121;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
}

/* end: .product-category  */

/* ------------------------------- */

/* product-brand */
.brand-name {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding-bottom: 20px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.brand-name .nav-stacked li a {
  background-color: #F5F5F5;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brand-name .nav-stacked li a:hover {
  background-color: #fff;
  color: #FF9800;
}

/* end: .product-brand  */

/* ------------------------------- */

/* price-range */
.range {
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  box-shadow: none;
  min-height: 20px;
  padding: 35px;
}

.price-range {
  margin-top: 30px;
}

.slider-track {
  background-color: #BDBDBD !important;
}

.slider-selection {
  background-color: #FF9800 !important;
}

/* end: .price-range  */
