.wishlist h2.title {
	margin: 10px 0 40px !important;
}

.wishlist h2.title:before {
	width: 285px;
	left: 47%;
}

.wishlist-page {
	margin-bottom: 30px;
}

.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	background-color: #fff;
}

.cart-info table tr {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cart-info table tr:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cart-info td, .cart-info th {
	padding: 15px;
}

.cart-info th {
	padding: 10px
}

.cart-info th {
	font-weight: bold;
	background-color: #eeeeee;
	border-bottom: 1px solid #E7E7E7;
}

.cart-info th.quantity, .cart-info td.quantity {
	text-align: left;
}

.cart-info th .price, .cart-info tbody .price {
	text-align: right;
}

.cart-info th .action, .cart-info tbody .action {
	text-align: center;
}

.cart-info th .quantity a {
	margin-top: -5px
}

.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #E7E7E7;
}

.cart-info tbody .remove {
	vertical-align: middle;
}

.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}

.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}

.cart-info tbody span.quantity {
	color: #F00;
	font-weight: bold;
}

.cart-info a.btn.btn-default {
	background-color: #FF9800;
}
